body {
    height: 700px;
    width: 1152px;
}


.container {
    background-color: azure;
}
.dot{
    background-color:pink;
    height:150px;
    width:150px;
    border-radius:50%;
    display:inline-block;

}
.b{
    border:1px solid grey;
    background:grey
;
}