body {
    height: 700px;
    width: 1152px;
    margin: auto;
}


.container {
    background-color:#F08080;
    
}
.dot{
    background-color:pink;
    height:150px;
    width:150px;
    border-radius:50%;
    display:inline-block;
    margin: auto;

}
.b{
    border:1px solid grey;
    background: grey;
    padding: 30px;
;
}

.image{
    max-height: 250px;
    max-width: 250px;
}